node_modules
**/node_modules
**/definition-ts
**/src/**/*.js
**/src/**/*.js.map
**/src/**/*.d.ts
**/test/**/*.js
**/test/**/*.js.map
**/test/**/*.d.ts
**/test_report
**/istanbul
**/karma_html
./hornet-js-*/index.js
./hornet-js-*/index.js.map
./hornet-js-*/package-lock.json
!hornet-js-*/src/**/extend/*.js
.history
.vscode
**/target
**/karma_html

