node_modules
**/node_modules
**/definition-ts
**/src/**/*.js
**/src/**/*.js.map
**/test/**/*.js
**/test/**/*.js.map
**/package.json
**/test_report
**/istanbul
**/karma_html
hornet-js-*/index.js
hornet-js-*/index.js.map
