$accordionLabel: theme-color('global', 'blueTitles');
$accordionHeaderBg: theme-color('global', 'white');
$accordionLabels: rgba(210, 221, 228, 1); //#d2dde4
$accordionlabelOpenBoxshadow: theme-color('global', 'boxShadows');
$accordionHeaderSelected: rgba(249, 249, 249, 1); //#f9f9f9;