$menuNavItemColor: rgba(185, 226, 250, 1); //#b9e2fa
$menuSubnavLinkColor: rgba(104, 104, 104, 1); //#686868
$buttonMenuBgHover: rgba(0, 99, 156, 1); //#00639c
$buttonMenuBgFocus: rgba(65, 160, 214, 1); //#e2eff7
