@import '../../sass/core';

$switchGlobalBg: theme-color($variant: 'primary');
$radioBaseColor: theme-color('global', 'white');
$switchLabel: rgba(135, 207, 250, 1); //#87cffa
$switchLabelDisabled: rgba(174, 174, 174, 1); //#aeaeae
$switchLabelContent: rgba(69, 69, 69, 1); //#454545

.switch-content {
    .switch {
        width: 3.625em;
        height: 1.4375em;
        padding: 0.1875em;
    }
}

.switch {
    position: relative;
    display: block;
    margin: 0 0.625em 0.625em 0;
    border-radius: 0.6875em;
    cursor: pointer;
    box-sizing: content-box;
    font-weight: bold;

    &.has-error {
        .switch-toggle {
            border: 0.063em theme-color('global', 'redError') solid;
        }
    }

    &-toggle {
        border: 0.063em $switchGlobalBg solid;
        width: 100%;
        color: theme-color('global', 'texts');
        position: relative;
        display: block;
        overflow: hidden;
        border-radius: 0.125em;
        box-sizing: border-box;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        padding-top: 0.3em;
        padding-bottom: 0.3em;

        input {
            position: absolute;
            left: -62.5em;
            opacity: 0;
        }
    }

    &-input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        box-sizing: content-box;

        &:checked~.switch-label {
            background: $switchGlobalBg
        }

        &:checked~.switch-label:before {
            opacity: 0
        }

        &:checked~.switch-label:after {
            opacity: 1
        }

        &:disabled~.switch-label {
            background: $switchLabelDisabled;
            cursor: default
        }

        &:checked~.switch-handle {
            left: 2.75em
        }
    }

    &-label {
        position: relative;
        display: block;
        height: inherit;
        font-size: 0.75em;
        text-transform: uppercase;
        background: $switchLabel;
        border-radius: inherit;
        box-sizing: content-box;

        &:before {
            content: attr(data-off);
            right: 0.4375em;
            color: $switchLabelContent;
        }

        &:after {
            content: attr(data-on);
            left: 0.4375em;
            color: theme-color('global', 'white');
            opacity: 0;
        }

        &:before,
        &:after {
            position: absolute;
            top: 50%;
            margin-top: -0.5em;
            line-height: 1;
            transition: inherit;
            box-sizing: content-box;
        }
    }

    &-label-before,
    &-label-after {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        pointer-events: none;
        transition: 0.3s all cubic-bezier(1,0,0,1);
    }

    &-label-after {
        color: theme-color('global', 'white');
        text-align: center;
        z-index: 0;
        opacity: 0;
        padding-top: 0.3em;
    }

    &-label-after,
    &-option-label {
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        box-sizing: border-box;
    }

    &-label-before {
        content: '';
        color: $switchGlobalBg;
        background: currentColor;
        opacity: 1;
    }

    &-option-label {
        display: inline-block;
        padding: 0 0.71em;
        cursor: pointer;
        margin: 0;
    }

    &-handle {
        position: absolute;
        top: 0.5em;
        left: 0.5em;
        width: 0.8125em;
        height: 0.8125em;
        border-radius: 100%;
        background-color: theme-color('global', 'white');

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -0.375em 0 0 -0.375em;
            width: 0.75em;
            border-radius: 0.375em;
        }
    }

    &-label,
    &-handle {
        transition:All .3s ease;
    }
}